@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Light.ttf"); }
h1 {
  background-color: #000;
  color: #FFF;
  font-family: 'OpenSans';
  padding: 10px 15px; }

body {
  margin: 0; }

.wrap {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: table; }

.titulo {
  background-color: #555;
  padding: 25px 0; }
  .titulo h1 {
    display: table;
    margin: 0 auto; }

.meno {
  margin: 20px auto;
  display: table;
  background-color: #000;
  width: 100%; }
  .meno ul {
    display: table;
    width: 100%; }
    .meno ul li {
      list-style: none;
      float: left;
      text-align: center;
      width: 15%;
      margin: 0 2%; }
      .meno ul li a {
        background-color: #FFF;
        color: #000;
        text-decoration: none;
        display: block;
        padding: 10px 0; }

.conteudo {
  float: left;
  width: 60%; }
  .conteudo article > div {
    width: 100%; }
    .conteudo article > div img {
      width: 100%;
      height: 400px;
      display: block; }
  .conteudo article > div:last-child {
    background-color: #DDD; }
    .conteudo article > div:last-child a {
      text-decoration: none; }
    .conteudo article > div:last-child p {
      margin: 10px 15px;
      padding-bottom: 10px; }

aside {
  float: right;
  width: 35%;
  background-color: #EEE; }
  aside input[type="text"] {
    width: 90%;
    padding: 5px 5%;
    margin: 10px auto;
    border: 0;
    background-color: #888;
    display: block;
    height: 30px;
    color: #FFF; }
  aside input[type="submit"] {
    margin: -33px 25px 0;
    float: right;
    background: url("../img/search.png") no-repeat;
    border: none;
    width: 20px;
    cursor: pointer; }
  aside article {
    height: 300px;
    overflow: hidden; }
  aside .cont-carrossel {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: table;
    width: 100%; }
    aside .cont-carrossel .box-carrossel {
      width: 320px;
      overflow: hidden;
      margin: 10% auto;
      position: relative;
      padding: 10px 30px;
      background: #FFF; }
      aside .cont-carrossel .box-carrossel img {
        width: 100%; }
      aside .cont-carrossel .box-carrossel .nav {
        position: absolute;
        top: 0;
        padding: 0 5px;
        display: table;
        height: 50px;
        background: cornflowerblue;
        color: #fff;
        font-size: 1.3em;
        cursor: pointer; }
        aside .cont-carrossel .box-carrossel .nav p {
          display: table-cell;
          vertical-align: middle; }
      aside .cont-carrossel .box-carrossel :hover {
        background: #99ccff; }
      aside .cont-carrossel .box-carrossel .back {
        left: 0;
        top: 45%; }
      aside .cont-carrossel .box-carrossel .forth {
        right: 0;
        top: 45%; }
      aside .cont-carrossel .box-carrossel .clear {
        clear: both; }
      aside .cont-carrossel .box-carrossel .carrossel {
        list-style: none;
        width: 1000%;
        float: left;
        background: #fff;
        margin: 0;
        padding: 0; }
        aside .cont-carrossel .box-carrossel .carrossel .item {
          float: left;
          width: 300px;
          padding: 10px;
          margin-right: 30px;
          background: #99ccff; }

footer {
  background-color: #555;
  padding: 20px 0; }
  footer .wrap p {
    color: #FFF; }
  footer .wrap > div:first-child {
    width: 100%; }
    footer .wrap > div:first-child > div {
      width: 30%;
      float: left; }
      footer .wrap > div:first-child > div h1 {
        background-color: #555; }
    footer .wrap > div:first-child div:nth-child(2) {
      margin: 0 5%; }

.Admin {
  background-color: #282828;
  display: table;
  width: 100%;
  min-height: 100%; }

@keyframes menu {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.sideAdmin {
  float: left;
  width: 25%;
  background-color: transparent;
  display: table; }
  .sideAdmin > div:first-child {
    background-color: #000; }
    .sideAdmin > div:first-child img {
      margin: 0 auto;
      padding: 15px;
      display: block; }
    .sideAdmin > div:first-child h1 {
      margin: 0;
      background-color: #111;
      font-size: 16px; }
  .sideAdmin > ul {
    padding: 0;
    margin: 0; }
    .sideAdmin > ul > li {
      list-style: none;
      width: 100%;
      color: #FFF; }
      .sideAdmin > ul > li > span {
        font-size: 14px;
        font-family: 'OpenSans';
        margin: 0;
        background-color: #303030;
        display: block;
        padding: 6px 5%; }
      .sideAdmin > ul > li ul {
        padding: 0;
        margin: 0; }
        .sideAdmin > ul > li ul > li {
          list-style: none;
          width: 100%;
          color: #FFF; }
          .sideAdmin > ul > li ul > li > div:first-child {
            font-size: 13px;
            font-family: 'OpenSans';
            background-color: #404040;
            margin: 2px 0;
            cursor: pointer;
            width: 100%; }
            .sideAdmin > ul > li ul > li > div:first-child a {
              margin: 0;
              display: block;
              padding: 6px 10%;
              z-index: 2;
              position: relative;
              text-decoration: none;
              color: #FFF;
              font-size: 13px;
              font-family: 'OpenSans'; }
            .sideAdmin > ul > li ul > li > div:first-child > div {
              width: 100%;
              position: relative;
              z-index: 1;
              transition: 1s; }
        .sideAdmin > ul > li ul > li:hover > div div {
          animation-name: menu;
          animation-duration: 1s; }
    .sideAdmin > ul > li:first-child ul > li:hover > div div {
      background-color: #000 !important; }
    .sideAdmin > ul > li:nth-child(5n+1) ul > li:hover:nth-child(7n+1) > div div {
      background-color: #000099; }
    .sideAdmin > ul > li:nth-child(5n+1) ul > li:hover:nth-child(7n+2) > div div {
      background-color: #0000EF; }
    .sideAdmin > ul > li:nth-child(5n+1) ul > li:hover:nth-child(7n+3) > div div {
      background-color: #3333FF; }
    .sideAdmin > ul > li:nth-child(5n+1) ul > li:hover:nth-child(7n+4) > div div {
      background-color: #6666FF; }
    .sideAdmin > ul > li:nth-child(5n+1) ul > li:hover:nth-child(7n+5) > div div {
      background-color: #3333FF; }
    .sideAdmin > ul > li:nth-child(5n+1) ul > li:hover:nth-child(7n+6) > div div {
      background-color: #0000EF; }
    .sideAdmin > ul > li:nth-child(5n+1) ul > li:hover:nth-child(7n+7) > div div {
      background-color: #000099; }
    .sideAdmin > ul > li:nth-child(5n+2) ul > li:hover:nth-child(7n+1) > div div {
      background-color: #590099; }
    .sideAdmin > ul > li:nth-child(5n+2) ul > li:hover:nth-child(7n+2) > div div {
      background-color: #8600E6; }
    .sideAdmin > ul > li:nth-child(5n+2) ul > li:hover:nth-child(7n+3) > div div {
      background-color: #AA33FF; }
    .sideAdmin > ul > li:nth-child(5n+2) ul > li:hover:nth-child(7n+4) > div div {
      background-color: #CA80FF; }
    .sideAdmin > ul > li:nth-child(5n+2) ul > li:hover:nth-child(7n+5) > div div {
      background-color: #AA33FF; }
    .sideAdmin > ul > li:nth-child(5n+2) ul > li:hover:nth-child(7n+6) > div div {
      background-color: #8600E6; }
    .sideAdmin > ul > li:nth-child(5n+2) ul > li:hover:nth-child(7n+7) > div div {
      background-color: #590099; }
    .sideAdmin > ul > li:nth-child(5n+3) ul > li:hover:nth-child(7n+1) > div div {
      background-color: #006666; }
    .sideAdmin > ul > li:nth-child(5n+3) ul > li:hover:nth-child(7n+2) > div div {
      background-color: #009999; }
    .sideAdmin > ul > li:nth-child(5n+3) ul > li:hover:nth-child(7n+3) > div div {
      background-color: #00CCCC; }
    .sideAdmin > ul > li:nth-child(5n+3) ul > li:hover:nth-child(7n+4) > div div {
      background-color: #00FFFF; }
    .sideAdmin > ul > li:nth-child(5n+3) ul > li:hover:nth-child(7n+5) > div div {
      background-color: #00CCCC; }
    .sideAdmin > ul > li:nth-child(5n+3) ul > li:hover:nth-child(7n+6) > div div {
      background-color: #009999; }
    .sideAdmin > ul > li:nth-child(5n+3) ul > li:hover:nth-child(7n+7) > div div {
      background-color: #006666; }
    .sideAdmin > ul > li:nth-child(5n+4) ul > li:hover:nth-child(7n+1) > div div {
      background-color: #003300; }
    .sideAdmin > ul > li:nth-child(5n+4) ul > li:hover:nth-child(7n+2) > div div {
      background-color: #004D00; }
    .sideAdmin > ul > li:nth-child(5n+4) ul > li:hover:nth-child(7n+3) > div div {
      background-color: #006600; }
    .sideAdmin > ul > li:nth-child(5n+4) ul > li:hover:nth-child(7n+4) > div div {
      background-color: #008800; }
    .sideAdmin > ul > li:nth-child(5n+4) ul > li:hover:nth-child(7n+5) > div div {
      background-color: #006600; }
    .sideAdmin > ul > li:nth-child(5n+4) ul > li:hover:nth-child(7n+6) > div div {
      background-color: #004D00; }
    .sideAdmin > ul > li:nth-child(5n+4) ul > li:hover:nth-child(7n+7) > div div {
      background-color: #003300; }
    .sideAdmin > ul > li:nth-child(5n+5) ul > li:hover:nth-child(7n+1) > div div {
      background-color: #994D00; }
    .sideAdmin > ul > li:nth-child(5n+5) ul > li:hover:nth-child(7n+2) > div div {
      background-color: #B35900; }
    .sideAdmin > ul > li:nth-child(5n+5) ul > li:hover:nth-child(7n+3) > div div {
      background-color: #CC6600; }
    .sideAdmin > ul > li:nth-child(5n+5) ul > li:hover:nth-child(7n+4) > div div {
      background-color: #E67300; }
    .sideAdmin > ul > li:nth-child(5n+5) ul > li:hover:nth-child(7n+5) > div div {
      background-color: #CC6600; }
    .sideAdmin > ul > li:nth-child(5n+5) ul > li:hover:nth-child(7n+6) > div div {
      background-color: #B35900; }
    .sideAdmin > ul > li:nth-child(5n+5) ul > li:hover:nth-child(7n+7) > div div {
      background-color: #994D00; }

.formLogin {
  background-color: #AAA; }
  .formLogin form {
    display: table;
    position: relative;
    top: 15%;
    margin: 0 auto;
    width: 320px;
    background-color: #777;
    font-family: 'OpenSans';
    color: #FFF;
    border-radius: 5px; }
    .formLogin form legend {
      background-color: #555;
      width: 90%;
      font-size: 20px;
      font-weight: bold;
      padding: 10px 5%;
      text-align: center;
      margin: 0 0 15px;
      border-radius: 5px; }
    .formLogin form label {
      width: 100%;
      text-align: center;
      padding: 5px 0;
      display: block; }
    .formLogin form input[type="text"], .formLogin form input[type="password"] {
      width: 80%;
      margin: 0 auto;
      display: block;
      padding: 5px 5%;
      background-color: #333;
      color: #FFF;
      border: none;
      font-family: 'OpenSans'; }
    .formLogin form input[type="submit"] {
      width: 80%;
      margin: 0 auto;
      display: block;
      background-color: #222;
      padding: 10px 0;
      font-family: 'OpenSans';
      border: none;
      margin: 35px auto;
      color: #FFF; }

.contentAdmin {
  width: 75%;
  float: right;
  height: 800px;
  display: table;
  background-color: #FFF;
  font-family: 'OpenSans'; }
  .contentAdmin > h1 {
    background-color: #ddd;
    padding: 63px 20px;
    color: #111;
    border-bottom: 5px solid #333; }
  .contentAdmin > section {
    margin: 10px 1%;
    padding: 10px 2%;
    background-color: #FFF;
    width: 94%;
    height: 500px; }

.cadpost {
  display: table;
  width: 75%;
  max-width: 800px;
  margin: 40px auto; }
  .cadpost h1 {
    background-color: #EAA;
    color: #955;
    border: none; }
  .cadpost .ok {
    background-color: #AEA;
    color: #595;
    border: none; }
  .cadpost label {
    width: 100%;
    padding: 5px 0;
    display: block;
    font-size: 20px;
    color: #333;
    clear: both; }
  .cadpost input[type="text"], .cadpost select {
    width: 100%;
    display: block;
    background-color: #CCC;
    color: #111;
    border: none;
    font-size: 18px;
    padding: 7px;
    clear: both; }
  .cadpost input[type="text"]:nth-child(2) {
    width: 80%;
    float: left; }
  .cadpost input[type="file"] {
    float: left;
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    display: block;
    background-color: #222;
    padding: 10px 15px; }
  .cadpost textarea {
    width: 100%;
    display: block;
    background-color: #CCC;
    color: #111;
    border: none;
    resize: none;
    height: 300px; }
  .cadpost input[type="submit"] {
    width: 150px;
    float: right;
    display: block;
    background-color: #222;
    border: none;
    margin: 35px auto;
    color: #FFF;
    padding: 10px 15px; }

.listarPubs {
  display: table;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  color: #111; }
  .listarPubs span {
    width: 20%;
    display: table;
    float: left;
    text-align: center; }
  .listarPubs span:first-child {
    width: 40%;
    text-align: left; }
  .listarPubs h1 {
    display: table;
    width: 100%;
    font-weight: normal;
    background-color: #111; }
  .listarPubs div {
    display: table;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 2px solid #888;
    padding: 5px 15px;
    margin: 5px 0; }
    .listarPubs div a {
      display: block;
      width: 20%;
      float: left;
      text-decoration: none; }
      .listarPubs div a > span {
        margin: 0 auto;
        display: block;
        float: none; }

/*# sourceMappingURL=style.css.map */
