@font-face {
    font-family: OpenSans;
    src: url("fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: Lato;
    src: url("fonts/Lato-Regular.ttf");
}

h1{background-color: #000; color: #FFF; font-family: 'OpenSans'; padding: 10px 15px; margin: 0;}

body{margin:0; background: url("../img/fundobody.png") left repeat-y, url("../img/sayagata.png") left repeat; background-size: 100%, auto;}

.wrap{max-width: 1140px; width: 100%; margin: 0 auto; display: table;}

.titulo{background: url("../img/sobrebanner.png") left no-repeat, url("../img/fundobr.png") right no-repeat, url("../img/fundot.png") bottom repeat, url("../img/sayagata.png") left repeat; height: 400px;
	h1{display: table; color: #2B3990; background-color: transparent; clear: both; text-align: center; margin: -225px auto 0; font-family: "Lato"; border-bottom: 5px solid #2B3990;}
	img{margin: 50px 0; display: block; width: 30%;}
}

.meno{margin: 0 auto 20px; display: table; background-color: #2B3990; width: 100%;; border-top: 10px solid #8080FF; font-family: "Lato";
	ul{display: table; float: right;
		li{list-style: none; float: left; text-align: center;
			a{color: #FFF; text-decoration: none; display: block; padding: 10px 10px;}
		}
	}
}

.conteudo{float: left; width: 60%; font-family: "lato";
	article{display: table; margin: 50px 0; 
		>div{width: 100%;
			a{text-decoration: none;}
			h1{background-color: #222; color: #FFF; padding: 25px 10px; font-family: "lato"}
			img{width: 100%; height: 400px; display: block;}
		}
		>div:last-child{background-color: rgba(0, 134, 179, 0.7); margin: -155px 0 0; position: relative; z-index: 1;
			p{margin: 10px 15px; padding-bottom: 10px; color: #FFF;}
		}
	}
}

.asideHome{float: right; width: 35%;
	input[type="text"]{width: 90%; padding: 5px 5%; margin: 10px auto; border: 0; background-color: #888; display: block; height: 30px; color: #FFF;}
	input[type="submit"]{margin: -33px 25px 0; float: right; background: url("../img/search.png") no-repeat; border: none; width: 20px; cursor: pointer;}
	article{height: 300px; overflow: hidden;
		>h1{background: url("../img/fundo3.png") center repeat-x; color: #FFF; color: #FFF; font-size: 20px; padding: 20px 10px;}
	}
	& article:nth-child(1){height: auto;}
	& .cont-carrossel{box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; display: table; width: 100%;
		.box-carrossel{
			img{width: 100%;}
			width: 320px; overflow: hidden; margin: 0 auto; position: relative; padding: 0 30px; background: #FFF;
			.nav{position: absolute; top: 0; padding: 5px 0; width: 40px; display: table; height: 30px; border-radius: 20px; background-color: #222; text-align: center;
				color: #fff; font-size: 1.3em; cursor: pointer;
				p{display: table-cell; vertical-align: middle;}
			}
			& :hover{background: #99ccff;}
			.back{left: 0; top: 45%;}
			.forth{right: 0; top: 45%;}
			.clear{clear: both;}
			.carrossel{list-style: none; width: 1000%; float: left; background: #fff; margin: 0; padding: 0;
				.item{float: left; width: 320px; padding: 0px; margin-right: 50px; background: #63C;
					div{height: 50px; width: 100%; background-color: rgba(102, 51, 153, 0.5); margin: -50px 0 0; position: relative; z-index: 1;}
					h1{margin: -50px 0 0; background-color: transparent; position: relative; z-index: 2;}
				}
			}
		}
	}
}


footer{background-color: #555; padding: 20px 0 0; font-family: "lato";
	.wrap{display: table;
		p{color: #FFF;}
		>div:first-child{width: 100%; display: table;
			>div{width: 30%; float: left;
				h1{background-color: #555; border-bottom: 5px solid #FFF;}
				a{display: block; width: 100%; text-decoration: none; color: #FFF; font-size: 18px; padding: 5px 15px;}
			}
			& div:nth-child(2){margin: 0 5%;}
			& div:nth-child(3){
				a{width: auto; float: left;}
			}
			& div:nth-child(1){
				img{display: block; width: 100%; margin: 20px auto;}
			}
		}
	}
	& >div:nth-child(2){background-color: #333; margin: 20px 0 0;
		p{margin: 0; padding: 10px;}
	}	
}